<!Doctype html>
<html>
<head> 
  <title>Turnos</title>
  <#include "/html/common/head.html">
</head>
<body ng-app=figaro ng-controller=turnosController  data-ng-init="init()" >
  <#include "/html/common/menu.html">
  <div id=content class=content>
    <div class=banner>
        <label class="banner-button add" ng-click="newTurno()" ><i class=material-icons>addtoday</i> Nuevo</label>
        <div class="separator"></div>
        <label class="banner-button" ng-click="getTurnosDiaAnterior()">Anterior</label>
        <label class="banner-button" ng-click="getTurnosHoy()">Hoy</label>
        <label class="banner-button" ng-click="getTurnosDiaSiguiente()">Siguiente</label>
        <div class="separator"></div>
        <label >Fecha: <input class=input-banner type=date ng-model=ngDateTurno ng-focus="focus=true" ng-blur="focus=false" ng-change="getTurnos()"></label>
    </div>
  <table  ng-cloak ng-if="turnos.length > 0" id=table class=main-table>
    <thead>
      <tr>
          <th>HORARIO</th>
          <th>CLIENTE</th>
          <th>TRABAJOS</th>
          <th>PRECIO</th>
          <th>PELUQUERO</th>
          <th>COBRADO</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    <tr  ng-cloak class=data-row ng-repeat="turno in turnos  track by turno.id"  >
      <td data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.desde.split(' ')[1]}} - {{turno.hasta.split(' ')[1]}}</td>
      <td data-id={{turno.id}} ><a class=link ng-href="/turnos/cliente/{{turno.cliente.id}}"><div class=td-link> {{turno.cliente.nombre}} {{turno.cliente.apellido}}</div> </a></td>
      <td data-id={{turno.id}} data-ng-click="detailTurno($event)"><span ng-repeat="trabajo in turno.trabajos"> {{trabajo.servicio.descripcion}} </span></td>
      <td data-id={{turno.id}} data-ng-click="detailTurno($event)">{{getTotalTurno(turno.trabajos) | currency}}</td>
      <td data-id={{turno.id}} ><a class=link ng-href="/turnos/peluquero/{{turno.peluquero.id}}"><div class=td-link> {{turno.peluquero.nombre}} {{turno.peluquero.apellido}}</div></a></td>
      <td><input ng-model="turno.cobrado" ng-click="setCobrado(turno)" type="checkbox"></td>
      <td data-id={{turno.id}} data-ng-click="confirmDelete(turno.id)" class="tachotd" ><i class="material-icons tachoi">clear</i></td>
    </tr>
    </tbody>

  </table>
  
   <div ng-cloak ng-if="turnos.length > 0" class=banner>
        <label ><i class=material-icons >account_balance_wallet</i> Total: {{getTotalDiario(turnos) | currency}}</label>
    </div>

      
  </div>
  <#include "/html/turnos/turnos-modal.html">
  
  <div ng-cloak ng-if="turnos.length < 1" class="message">
    <div class="message-content">No hay turnos para este d&iacute;a.</div>
  </div>

  <div data-ng-init="init()" ng-controller=clientesController >
  <#include "/html/clientes/clientes-modal.html">
  </div>

  <#include "/html/turnos/cobrar.html">
  <#include "/html/turnos/deshacer-cobrado-pagado.html">
  <#include "/html/common/javascript.html">
  <#include "/html/common/confirm.html">
  <script src="/js/turnosController.js" ></script>
  <script src="/js/clientesController.js" ></script>
</body>
</html>