<!Doctype html>
<html>
<head> 
  <title>TURNOS</title>
  <#include "/html/common/head.html">
</head>
<body ng-app=figaro ng-controller=turnosController  data-ng-init="getTurnosDePeluquero()" >
  <#include "/html/common/menu.html">
  <div ng-if="turnos.length > 0" id=content class=content>
    <div class=banner>
        <label ng-cloak class="banner-title" >{{peluquero}}</label>
    </div>
    <table  id=table class="main-table banner">
        <thead>
          <tr>
              <th>FECHA</th>
              <th>TRABAJOS</th>
              <th>PRECIO</th>
              <th>REALIZADO</th>
              <th>PAGADO</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-cloak class=data-row ng-repeat="turno in turnos  track by turno.id">
          <td id={{turno.id}} data-id={{turno.id}}>{{turno.desde.split(' ')[0] | date}} {{turno.desde.split(' ')[1]}}</td>
          <td id={{turno.id}} data-id={{turno.id}}><span ng-repeat="trabajo in turno.trabajos"> {{trabajo.servicio.descripcion}} ({{trabajo.comision}}%) </span></td>
          <td id={{turno.id}} data-id={{turno.id}}>{{getTotalTurno(turno.trabajos) | currency}}</td>
          <td><input ng-checked="turno.cobrado"  type="checkbox" disabled></td>
          <td><input ng-click="togglePago(turno)" ng-checked="turno.pagado"  type="checkbox"></td>
        </tr>
        </tbody>
      </table>
      <div ng-cloak class=banner>
          <label class=banner-label >{{getTotalDiario(turnos) | currency}}</label>
      </div>
  </div>

  <div ng-cloak ng-if="turnos.length < 1" class="message">
    <div class="message-content">{{message}}</div>
  </div>

  <#include "/html/common/javascript.html">
  <script src="/js/turnosController.js" ></script>
  <script src="/js/clientesController.js" ></script>
</body>
</html>