<!Doctype html>
<html>
<head> 
  <title>TURNOS</title>
  <#include "/html/common/head.html">
</head>
<body ng-app=figaro ng-controller=turnosController  data-ng-init="getTurnosDePeluquero()" >
  <#include "/html/common/menu.html">
  <div ng-if="turnos.length > 0" id=content class=content>
    <div class=banner>
        <label ng-cloak class="banner-title" >{{peluquero}}</label>
    </div>
    <table  id=table class="main-table banner">
        <thead>
          <tr>
              <th>FECHA</th>
              <th>CLIENTE</th>
              <th>TRABAJOS</th>
              <th>PRECIO</th>
              <th>COMISI&Oacute;N</th>
              <th>PAGO</th>
              <th>COBRADO</th>
              <th>PAGADO</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-cloak class=data-row ng-repeat="turno in turnos  track by turno.id">
          <td id={{turno.id}} data-id={{turno.id}}>{{turno.desde.split(' ')[0] | date}} {{turno.desde.split(' ')[1]}}</td>
          <td data-id={{turno.id}} ><a class=link ng-href="/turnos/cliente/{{turno.cliente.id}}"><div class=td-link> {{turno.cliente.nombre}} {{turno.cliente.apellido}}</div> </a></td>
          <td id={{turno.id}} data-id={{turno.id}}><span ng-repeat="trabajo in turno.trabajos"> {{trabajo.servicio.descripcion}} </span></td>
          <td id={{turno.id}} data-id={{turno.id}}>{{getTotalTurno(turno.trabajos) | currency}}</td>
          <td id={{turno.id}} data-id={{turno.id}}>{{ (getPago(turno.trabajos)*100) / getTotalTurno(turno.trabajos) | number:0 }}%</td>
          <td id={{turno.id}} data-id={{turno.id}}>{{getPago(turno.trabajos) | currency}}</td>
          <td><input ng-checked="turno.cobrado"  type="checkbox" disabled></td>
          <td><input ng-model="turno.pagado"  ng-click="setPagado(turno)"  type="checkbox"></td>
        </tr>
        </tbody>
      </table>
      <div  class=banner>
          <label class=banner-label >{{getTotalPago(turnos) | currency}}</label>
      </div>
  </div>

  <div ng-cloak ng-if="turnos.length < 1" class="message">
    <div class="message-content">{{message}}</div>
  </div>

  <#include "/html/turnos/deshacer-cobrado-pagado.html">
  <#include "/html/common/javascript.html">
  <script src="/js/turnosController.js" ></script>
  <script src="/js/clientesController.js" ></script>
</body>
</html>