<!Doctype html>
<html>
<head> 
  <title>TURNOS</title>
  <#include "/common/head.html">
</head>
<body ng-app=figaro ng-controller=turnosController  data-ng-init="init()" ng-cloak>
  <#include "/common/menu.html">
  <div id=content class=content>
    <div class=banner>
        <label class="banner-label add" ><i class=material-icons ng-click="newTurno()" >addtoday</i></label>
        <input class=input-banner type=date ng-model=ngDateTurno ng-model-options="{debounce:1000}" ng-change="getTurnos()">
    </div>
  <table ng-if="turnos.length > 0" id=table class=main-table>
    <thead>
      <tr>
          <th>HORARIO</th>
          <th>CLIENTE</th>
          <th>TRABAJOS</th>
          <th>PRECIO</th>
          <th>PELUQUERO</th>
          <th>REALIZADO</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    <tr  class=data-row ng-repeat="turno in turnos  track by turno.id"  >
      <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.desde.split(' ')[1]}} - {{turno.hasta.split(' ')[1]}}</td>
      <td id={{turno.id}} data-id={{turno.id}} ><a class=cliente-link ng-href="/turnos/cliente/{{turno.cliente.id}}"> {{turno.cliente.nombre}} {{turno.cliente.apellido}} </a></td>
      <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)"><span ng-repeat="trabajo in turno.trabajos"> {{trabajo.descripcion}} </span></td>
      <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{getTotalTurno(turno.trabajos) | currency}}</td>
      <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.peluquero}}</td>
      <td><input ng-checked="turno.cobrado" ng-click="setCobrado(turno.id)" type="checkbox"></td>
      <td id={{turno.id}} data-id={{turno.id}} data-ng-click="deleteTurno($event)" class="tachotd" ><i class="material-icons tachoi">clear</i></td>
    </tr>
    </tbody>
  </table>
      <div ng-if="turnos.length > 0" class=banner>
          <label class=banner-label >{{getTotalDiario(turnos) | currency}}</label>
      </div>
  </div>
  <#include "/html/turnos/turnos-modal.html">
  
  <div ng-if="turnos.length < 1" class="message">
    <div class="message-content">No existen turnos para este d&iacute;a.</div>
  </div>

  <div ng-controller=clientesController >
  <#include "/html/clientes/clientes-modal.html">
  </div>
  
  <#include "/common/javascript.html">
  <script src="/js/turnosController.js" ></script>
  <script src="/js/clientesController.js" ></script>
</body>
</html>