<!Doctype html>
<html>
<head> 
  <title>Turnos</title>
  <#include "/html/common/head.html">
</head>
<body ng-app=figaro ng-controller=peluquerosController ng-cloak  data-ng-init="initTurnosPeluquero()" >
  <#include "/html/common/menu.html">
  <div ng-controller=turnosController  >
  <div ng-if="turnos.length > 0" id=content class=content>
    <div class=banner>
        <label class="banner-title">Peluquero: {{peluquero}}</label>
    </div>
    <table  id=table class="main-table banner">
        <thead>
          <tr>
              <th>FECHA</th>
              <th>CLIENTE</th>
              <th>TRABAJOS</th>
              <th>PRECIO</th>
              <th>COMISI&Oacute;N</th>
              <th>PAGO</th>
              <th>COBRADO</th>
              <th>PAGADO</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-cloak class=data-row ng-repeat="turno in turnos  track by turno.id">
          <td id={{turno.id}} data-id={{turno.id}}>{{turno.desde.split(' ')[0] | date}} - {{turno.desde.split(' ')[1]}} hs</td>
          <td data-id={{turno.id}} ><a class=link ng-href="/turnos/cliente/{{turno.cliente.id}}"><div class=td-link> {{turno.cliente.nombre}} {{turno.cliente.apellido}}</div> </a></td>
          <td id={{turno.id}} data-id={{turno.id}}><span ng-repeat="trabajo in turno.trabajos"> {{trabajo.servicio.descripcion}} </span></td>
          <td id={{turno.id}} data-id={{turno.id}}>{{getTotalTurno(turno.trabajos) | currency}}</td>
          <td id={{turno.id}} data-id={{turno.id}}  >{{ (getPago(turno.trabajos)*100) / getTotalTurno(turno.trabajos) | number:0 }}%</td>
          <td id={{turno.id}} data-id={{turno.id}}  >{{getPago(turno.trabajos) | currency}}</td>
          <td><input ng-model="turno.cobrado"   ng-click="setCobrado(turno)" type="checkbox" ></td>
          <td><input ng-model="turno.pagado"    ng-click="setPagado(turno)"  type="checkbox"></td>
        </tr>
        </tbody>
      </table>
      <div  class=banner>
           <label  ><i class=material-icons >account_balance_wallet</i>Total pago: {{getTotalPagoTurnosPeluquero(turnos) | currency}}</label>
           <div class="separator"></div>
           <label  ><i class=material-icons >date_range</i>Turnos: {{sinPagar ? turnos.length : cantidadTurnosPeluquero}}</label>
      </div>
      <div class=ver-mas ng-hide = "(turnos.length >= cantidadTurnosPeluquero) || sinPagar">
      <label  ng-click=verMas() > Ver m&aacute;s</label>
    </div>
    
  </div>
  <#include "/html/turnos/cobrar.html">
  <#include "/html/turnos/deshacer-cobrado-pagado.html">
</div>

  <div  ng-if="turnos.length < 1 && loaded" class="message ng-cloak">
    <div class="message-content">{{emptyMessage}}</div>
  </div>

  
  <#include "/html/common/javascript.html">
  <script src="/js/peluquerosController.js" ></script>
  <script src="/js/turnosController.js" ></script>
</body>
</html>