<div id=modal-peluqueros class=modal>
  <div class=modal-double>
    <form ng-submit="sendPeluquero()">
     
    <div class=peluquero-fields>
      <div class=form-field><label>NOMBRE:</label><input id=modal-peluqueros-focus type="text"  ng-model="ngPeluquero.nombre" maxlength="25" pattern="^[^\s].*([A-zÀ-ž\s]){2,25}" ng-pattern-restrict required></div>
      <div class=form-field><label>APELLIDO:</label><input type="text" ng-model="ngPeluquero.apellido" maxlength="25" pattern="^[^\s].*([A-zÀ-ž\s]){2,25}" ng-pattern-restrict required></div> 
      <div class=form-field><label>SEXO:</label>
        <input type="radio" name=sexo ng-model="ngPeluquero.sexo" value="hombre" required> Hombre
        <input type="radio" name=sexo ng-model="ngPeluquero.sexo" value="mujer" required> Mujer
      </div>
      <div class=form-field><label>TELEFONO:</label><input type="text"  maxlength="25" ng-model="ngPeluquero.telefono" ></div>
      <div class=form-field><label>EMAIL:</label><input type="email"    maxlength="35" ng-model="ngPeluquero.email" ></div>
      <div class=form-field><label>CIUDAD:</label>
        <select ng-model="ngPeluquero.dirCiudad">
          <option value="{{ciudad.nombre}}" ng-repeat="ciudad in ciudades">{{ciudad.nombre}}</option>
        </select>
      </div>
      <div class=form-field><label>CALLE:</label><input type="text"      maxlength="25" pattern="([A-z0-9À-ž\s]){1,25}" ng-model="ngPeluquero.dirCalle"></div>
      <div class=form-field><label>N&Uacute;MERO:</label><input type="number"   ng-model="ngPeluquero.dirNumeroCalle"  maxlength="5"></div>
      <div class=form-field><label>PISO:</label><input type="number"     ng-model="ngPeluquero.dirPiso"  min=0 max=100 maxlength=3  > <label>DPTO:</label><input type="text" ng-model="ngPeluquero.dirDpto" maxlength="3" size="3"></div>
    </div>
    
    <div >  
        <table class="trabajos-list">
            <tbody>
            <tr><th></th><th>TRABAJO</th><th>COMISI&Oacute;N</th></tr>  
            <tr><td><input type="checkbox" ng-model="allChecked" ng-click="checkAllTrabajos()" ></td><td>Todos</td><td></td></tr>
            <tr ng-cloak   class=data-row  ng-repeat="servicio in servicios" >
            <td><input type="checkbox"  value="servicio" ng-model=servicio.selected></td>
            <td>{{servicio.descripcion}}</td>
            <td><input type="number"  ng-init="servicio.comision=0" ng-model="servicio.comision" min=0 max=100 size=1 required/>%</td>
            </tr>
          </tbody>
          </table>
    </div>

        
      <div class=buttons>
        <button class="button cancel"  type="button" ng-click="discardPeluquero()">CANCELAR</button>
        <button class="button accept" type="submit">ACEPTAR</button>
      </div>
      <label class=form-message>{{message}}</label>
    </form>
  </div>
</div>