<!Doctype html>
<html>
<head> 
  <title>CAJA</title>
  <#include "/common/head.html">    
</head>
<body ng-app=figaro ng-controller=movimientosController ng-cloak>
<#include "/common/menu.html">
<div id=content class=content>
  <div class=banner>
      <label class="banner-label add"><i class="material-icons" ng-click="newMovimiento()">add_circle_outline</i></label>
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
      <label class=banner-label ><i class=material-icons >account_balance</i> DIA </label>
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
      <label class=banner-label ><i class=material-icons >account_balance</i> SEMANA </label>
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
      <label class=banner-label ><i class=material-icons >account_balance</i> MES </label>
      <label class=banner-label > SEMANA DEL 17/08/17 AL 24/08/17</label>
  </div>
  <table id=table>
    <thead>
      <tr>
          <th>FECHA</th>
          <th>CATEGORIA</th>
          <th>MONTO</th>
          <th>DETALLE</th>              
      </tr>
    </thead>
    <tbody>
      <tr id={{movimiento.id}} data-id={{movimiento.id}} class=data-row ng-repeat="movimiento in movimientos" data-ng-click="detailMovimiento($event)"> 
        <td>{{movimiento.fecha | date }}</td>
        <td>{{movimiento.categoria}}</td>
        <td><font>{{movimiento.precio | currency }}</font></td>
        <td>{{movimiento.detalle}}</td>            
      </tr>      
    </tbody>
  </table>
  <div class=banner>
      <label class=banner-label ><i class=material-icons >account_balance_wallet</i> CAJA: $3465,00</label>
  </div>
</div>
<div id=modal class=modal>
    <div class=modal-content>
      <form ng-submit="sendMovimiento()">    
       	<div class=form-field><label>CATEGOR&Iacute;A:</label>     
          <select ng-model="ngMovimiento.categoria">
            <option value="{{categoria.nombre}}" ng-repeat="categoria in categorias">{{categoria.nombre}}</option>
          </select>
        </div> 
        <div class=form-field><label>MONTO:</label> <input type="number" ng-model="ngMovimiento.precio"></input></div>
        
        <div class=form-field><label>FECHA:</label>    <input type="date"          ng-model="ngMovimiento.fecha"></input></div>
        <div class=form-field><label>TIPO:</label>
          <input type="radio" name=isGasto ng-model="ngMovimiento.isGasto" ng-value="true" value="true" required> Gasto
          <input type="radio" name=isGasto ng-model="ngMovimiento.isGasto" ng-value="false" value="false" required> Ingreso
        </div>
        <div class=form-field><label>DETALLE:</label>      <input type="text"          ng-model="ngMovimiento.detalle"></input></div>
 
 		<div class=buttons>
          <button class="button accept" type="submit">ACEPTAR</button>
          <button class="button cancel" type="button" ng-click="discardMovimiento()">CANCELAR</button>
        </div>
  
      </form>
    </div>
</div>
<#include "/common/javascript.html">
<script src="js/movimientosController.js" ></script>
</body>
</html>