<!Doctype html>
<html>
<head> 
  <title>CAJA</title>
  <#include "/common/head.html">   
</head>
<body ng-app=figaro ng-controller=movimientosController ng-cloak>
<#include "/common/menu.html">
<div id=content class=content>
  <div class=banner>
      <label class="banner-label add"><i class="material-icons" ng-click="newMovimiento()">add_circle_outline</i></label>   
      <label class=banner-label ><i class=material-icons>more_vert</i></label>      
      <label class=banner-label ng-click="ShowHideDia()"><i class=material-icons>search</i> D&Iacute;A </label>    
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
      <label class=banner-label ng-click="ShowHideEntreDia()"><i class=material-icons >search</i> D&Iacute;AS ENTRE </label>
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
      <label class=banner-label ng-click="ShowHideMes()"><i class=material-icons >search</i> MES </label>
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
 
  </div>
  
<div class=bannerBusqueda ng-hide = "IsHiddenDia">
  	<div>
   		<label class=banner-label> B&Uacute;SQUEDA POR D&Iacute;A: </label>
   	</div>
   	<div>
      <input class=input-banner type="date" ng-model="search" ng-keyup="searchMovimientoDia()"></input>
    </div> 
    <div class=buttons>          
          <button class="bb" type="button" ng-click="ShowHideDia()">CANCELAR</button>
    </div>
</div>

<div class=bannerBusqueda ng-hide = "IsHiddenEntreDia">
  	<div>   		
   		<label class=banner-label> B&Uacute;SQUEDA ENTRE:</label>
   	</div>
   	<div>
      <input class=input-banner type="date" ng-model="search" ng-keyup="searchMovimiento()"></input>
    </div>
    <div>   		
   		<label class=banner-label> Y:</label>
   	</div>
   	<div>   		
   		<input class=input-banner type="date" ng-model="search" ng-keyup="searchMovimiento()"></input>
   	</div> 
    <div class=buttons>          
          <button class="bb" type="button" ng-click="ShowHideEntreDia()">CANCELAR</button>
    </div>
</div>

<div class=bannerBusqueda ng-hide = "IsHiddenMes">
  	<div>
   		<label class=banner-label> B&Uacute;SQUEDA POR MES: </label>
   	</div>
   	<div>
      <input class=input-banner type="date" ng-model="search" ng-keyup="searchMovimiento()"></input>
    </div> 
    <div class=buttons>          
          <button class="bb" type="button" ng-click="ShowHideMes()">CANCELAR</button>
    </div>
</div>
  
  <table id=table>
    <thead>
      <tr>
          <th>FECHA</th>
          <th>CATEGORIA</th>
          <th>MONTO</th>
          <th>DETALLE</th>              
      </tr>
    </thead>
    <tbody>
      <tr id={{movimiento.id}} data-id={{movimiento.id}} class=data-row ng-repeat="movimiento in movimientos | orderBy : sortFecha : false" data-ng-click="detailMovimiento($event)"> 
        <td>{{movimiento.fecha | date }}</td>
        <td>{{movimiento.categoria}}</td>
	    <td> <font ng-class='{green : !movimiento.isGasto, red: movimiento.isGasto}'>{{movimiento.precio | currency }}</font></td>
        <td>{{movimiento.detalle}}</td>            
      </tr>      
    </tbody>
  </table>
  <div class=banner>
      <label class=banner-label ><i class=material-icons >account_balance_wallet</i> Total: <font ng-class='{green : calculaTotal() >= 0, red: calculaTotal() < 0}'>{{ calculaTotal() | currency }}</font></label>
  </div>
</div>

<div id=modal class=modal>
    <div class=modal-content>
      <form ng-submit="sendMovimiento()">    
       	<div class=form-field><label>CATEGOR&Iacute;A:</label>     
          <select ng-model="ngMovimiento.categoria">
            <option value="{{categoria.nombre}}" ng-repeat="categoria in categorias">{{categoria.nombre}}</option>
          </select>
        </div> 
        <div class=form-field><label>MONTO:</label> <input type="number" ng-model="ngMovimiento.precio"></input></div>
        
        <div class=form-field><label>FECHA:</label> <input type="date" ng-model="ngMovimiento.fecha" ng-model-options="{timezone:'UTC'}"></input></div>
        <div class=form-field><label>TIPO:</label>
          <input type="radio" name=isGasto ng-model="ngMovimiento.isGasto" ng-value="true" value="true" required> Gasto
          <input type="radio" name=isGasto ng-model="ngMovimiento.isGasto" ng-value="false" value="false" required> Ingreso
        </div>
        <div class=form-field><label>DETALLE:</label>      <input type="text"          ng-model="ngMovimiento.detalle"></input></div>
 
 		<div class=buttons>
          <button class="button accept" type="submit">ACEPTAR</button>
          <button class="button cancel" type="button" ng-click="discardMovimiento()">CANCELAR</button>
        </div>
  
      </form>
    </div>
</div>




<#include "/common/javascript.html">
<script src="js/movimientosController.js" ></script>
</body>
</html>