<!Doctype html>
<html>
<head>
  <title>CONFIGURACION</title>
  <#include "/common/head.html">
</head>
<body ng-app=figaro ng-controller=configuracionController ng-cloak>
<#include "/common/menu.html">
<div id=content class=content>

    <div class="card ciudades">
      <form ng-submit="addCiudad()">
        <i class="material-icons">place </i><label class=card-title> CIUDADES</label> <br>
        <input tipe="text" placeholder="Ciudad" ng-model="ngCiudad.nombre" required>
        <table id=table>
          <tbody>
          <tr id={{ciudad.id}} class=data-row ng-repeat="ciudad in ciudades">
          <td>{{ciudad.nombre}}</td>
          <td class=delete ><i class="material-icons" data-id={{ciudad.id}} ng-click="removeCiudad($event)">clear</i></td>
          </tr>
          </tbody>
        </table>
        <label class=form-message>{{messageCiudad}}</label>
      </form>
    </div>

    <div class="card trabajos">
      <form ng-submit="addTrabajo()">
        <i class="material-icons">content_cut</i><label class=card-title>TRABAJOS</label> <br>
        <input tipe="text" placeholder="Descripci&oacute;n" ng-model="ngTrabajo.descripcion" required>
        <input type="number" placeholder="Precio" ng-model="ngTrabajo.precio" step="0.01" required>
        <button class="button accept" type="submit"></button>
        <table id=table>
          <tbody>
          <tr id={{trabajo.id}}  class=data-row  ng-repeat="trabajo in trabajos">
          <td data-id={{trabajo.id}} ng-click="loadTrabajo($event)">{{trabajo.descripcion}}</td>
          <td data-id={{trabajo.id}} ng-click="loadTrabajo($event)" class=trabajo-precio>{{trabajo.precio | currency}}</td>
          <td class=delete ><i class="material-icons" data-id={{trabajo.id}} ng-click="removeTrabajo($event)">clear</i></td>
          </tr>
          </tbody>
        </table>
        <label class=form-message>{{messageTrabajo}}</label>
      </form>
    </div>

    <div class="card peluqueros">
      <form ng-submit="addPeluquero()">
        <i class="material-icons">supervisor_account</i><label class=card-title>PELUQUEROS</label>
        <input tipe="text" placeholder="Nombre" ng-model="ngPeluquero.nombre" required>
        <table id=table>
          <tbody>
          <tr id={{peluquero.id}} class=data-row ng-repeat="peluquero in peluqueros">
          <td>{{peluquero.nombre}}</td>
          <td class=delete ><i class="material-icons" data-id={{peluquero.id}} ng-click="removePeluquero($event)">clear</i></td>
          </tr>
          </tbody>
        </table>
        <label class=form-message>{{messagePeluquero}}</label>
      </form>
    </div>

    <div class="card categorias">
      <form ng-submit="addCategoria()">
        <i class="material-icons">label</i><label class=card-title>CATEGOR&Iacute;AS</label>
        <input tipe="text" placeholder="Nombre" ng-model="ngCategoria.nombre" required>
        <table id=table>
          <tbody>
          <tr id={{categoria.id}} class=data-row ng-repeat="categoria in categorias">
          <td>{{categoria.nombre}}</td>
          <td class=delete ><i class="material-icons" data-id={{categoria.id}} ng-click="removeCategoria($event)">clear</i></td>
          </tr>
          </tbody>
        </table>
        <label class=form-message>{{messageCategoria}}</label>
      </form>
    </div>

</div>
<#include "/common/javascript.html">
<script src="js/configuracionController.js" ></script>
</body>
</html>
