<!Doctype html>
<html>
<head> 
	<title>Stock</title>
  <#include "/common/head.html"> 
</head>
<body ng-app=figaro ng-controller=stockController ng-cloak >
  <#include "/common/menu.html">
  <div id=content class=content>
    <div class="banner">
        <label class="banner-label add"><i class=material-icons ng-click="newProducto()" >shopping_basket_add</i></label>
        <label class=banner-label ><i class=material-icons >more_vert</i></label>
        <label class=banner-label ><i class=material-icons >search</i></label>
        <input class=input-banner type="text" placeholder="Buscar producto" ng-model="search" ng-keyup="searchProducto()">
    </div>
    <table id=table>
      <thead>
        <tr>
            <th>NOMBRE</th>
            <th>DISPONIBLES</th>
            <th>MINIMO</th>
        </tr>
      </thead>
      <tbody>
        <tr id={{producto.id}} data-id={{producto.id}} class=data-row ng-repeat="producto in producto" data-ng-click="detailProducto($event)">
          <td>{{producto.nombre}}</td>
          <td>{{cliente.cantidad}}</td>
          <td>{{cliente.cantidadMin}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id=modal class=modal>
    <div class=modal-content>
      <form ng-submit="sendProducto()">
        <div class=form-field><label>NOMBRE:</label><input id=focus tipe="text"   ng-model="ngProducto.nombre"></input></div>
        <div class=form-field><label>CANTIDAD:</label><input tipe="number"        ng-model="ngProducto.cantidad"></input></div>
        <div class=form-field><label>CANTIDAD MINIMA:</label><input tipe="number" ng-model="ngProducto.cantidadMin"></input></div>
        <div class=buttons>
          <button class="button accept" type="submit">ACEPTAR</button>
          <button class="button cancel" type="button" ng-click="discardProducto()">CANCELAR</button>
        </div>
      </form>
    </div>
  </div>
  <#include "/common/javascript.html">
  <script src="js/stockController.js" ></script>
</body>
</html>