<!Doctype html>
<html>
  <head> 
	  <title>Historial</title>
    <#include "/html/common/head.html">
    <link rel="stylesheet" type="text/css" href="../css/venta-stock.css">
  </head>
  <body ng-app=figaro ng-controller=ventaController ng-cloak >
    <#include "/html/common/menu.html">
    <div id=content class=content>

<!-- Barra de filtros -->
     
      <div class=banner>
        <label class=banner-button title="Desplegar filtro por d&iacute;a" ng-click="ShowHideDia()"><i class=material-icons>search</i> D&iacute;a </label>    
        <div class="separator"></div>
        <label class=banner-button title="Desplegar filtro por semana" ng-click="ShowHideEntreDia()"><i class=material-icons >search</i> Semana </label>
        <div class="separator"></div>
        <label class=banner-button title="Desplegar filtro por mes" ng-click="ShowHideMes()"><i class=material-icons >search</i> Mes </label>
      </div>

      <div class=banner-busqueda ng-hide = "IsHiddenDia" ng-cloak>
        <div>       
          <label class=banner-label-busqueda title="Ocultar filtro" ng-click="ShowHideDia()"><i class=material-icons >clear</i></label>
          <label class=banner-label-busqueda> B&uacute;squeda por D&iacute;a: </label>    
            <input class=banner-label-busqueda title="Seleccionar un d&iacute;a" type="date" ng-model="search" ng-change="searchVentaDia()"></input> 
        </div>
      </div>
  
      <div class=banner-busqueda ng-hide = "IsHiddenEntreDia" ng-cloak>
        <div>       
          <label class=banner-label-busqueda title="Ocultar filtro" ng-click="ShowHideEntreDia()"><i class=material-icons >clear</i></label>
          <label class=banner-label-busqueda> B&uacute;squeda por semana:</label>    
            <input class=banner-label-busqueda title="Seleccionar una semana" type="week" ng-model="search" ng-change="searchVentaSem()"></input>
        </div>
      </div>
  
      <div class=banner-busqueda ng-hide = "IsHiddenMes" ng-cloak>
        <div>       
          <label class=banner-label-busqueda title="Ocultar filtro" ng-click="ShowHideMes()"><i class=material-icons >clear</i></label>
          <label class=banner-label-busqueda> B&uacute;squeda por mes: </label>     
            <input class=banner-label-busqueda title="Seleccionar un mes" type="month" ng-model="search" ng-change="searchVentaMes()"></input>
        </div>  
      </div>
  
<!-- Fin Barra de filtros -->

      <div class="historial-venta" ng-repeat="venta in ngVentas | filter:{fecha: verFechaFiltro} ">
        <table  class=main-table  class=data-row>
          <thead bgcolor="">
            <tr>
              <th colspan="5">Fecha: {{venta.fecha | date}}</th>
              <th title="Eliminar venta" id={{venta.id}} data-id={{venta.id}} data-ng-click="confirmDelete(venta.id)" class="tachotd">
                <lavel><i class="material-icons tachoi">clear</i></lavel></th>
            </tr>
          </thead>
          <tfoot class="negrita">
            <tr>
               <td colspan=4>TOTAL</td>
               <td>{{venta.precio | currency}}</td>
               <td></td>
            </tr>
          </tfoot>
          <tbody class="prueba">
            <tr ng-cloak class=data-row  ng-repeat="item in venta.items" >
              <td class="colum-nombre-with">{{item.nombreProducto}}</td>
              <td>{{item.descripcionProducto}}</td>
              <td>{{item.precioUnitario | currency}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.precioTotal | currency}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-cloak ng-if="ngVentas.length < 1" class="message">
      <div class="message-content">No se han realizado ventas</div>
    </div>

    <#include "/html/common/confirm.html">
    <#include "/html/common/javascript.html">
    <script src="../js/ventaController.js" ></script>    
  </body>
</html>