<!Doctype html>
<html>
<head>
	<title>F&Iacute;GARO | CLIENTES</title>
  <#include "/common/head.html">
</head>
<body ng-app=figaro ng-controller=clientesController data-ng-init="init()" ng-cloak>
  <#include "/common/menu.html">
  <div id=content class=content>
    <div class="banner">
        <label class="banner-label add"><i class=material-icons ng-click="newClient()" >person_add</i></label>
        <label class=banner-label ><i class=material-icons >more_vert</i></label>
        <label class=banner-label ><i class=material-icons >search</i></label>
        <input class=input-banner type="text" placeholder="Buscar..." ng-model="search" ng-model-options="{debounce:1000}" ng-change="searchCliente()">
    </div>
    <table id=table class=main-table>
      <thead>
        <tr>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EMAIL</th>
            <th>TEL&Eacute;FONO</th>
            <th>&Uacute;LTIMA VISITA</th>
            <th>REGISTRADO</th>
        </tr>
      </thead>
      <tbody>
        <tr id={{cliente.id}} data-id={{cliente.id}} class=data-row ng-repeat="cliente in clientes" data-ng-click="detailClient($event)">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.telefono}}</td>
          <td>{{cliente.ultimaVisita | date}}</td>
          <td>{{cliente.fechaIngreso | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <#include "/html/clientes/clientes-modal.html">
  <#include "/common/javascript.html">
  <script src="js/clientesController.js" ></script>
</body>
</html>
