<!Doctype html>
<html>
<head> 
  <title>Estad&iacute;sticas</title>
  <#include "/html/common/head.html">
  <link rel="stylesheet" type="text/css" href="/css/estadisticas.css">
</head>
<body ng-app=figaro ng-controller=estadisticasController ng-cloak>
<#include "/html/common/menu.html">
<div id=content class=content>
    <div class=banner>
     
      <label class=banner-button><i class=material-icons>equalizer</i>SELECCIONAR ESTAD&Iacute;STICA:
      <select  class=input-banner ng-model="grafico" ng-change="selectGrafico(grafico)" ng-cloak>
            <option data-id="grafico1" value="sexo">Clientes por Sexo</option>
            <option data-id="grafico1" value="ciudad">Clientes por Ciudad</option>
            <option data-id="grafico1" value="productoMasVendido">Venta de Productos</option>
            <option data-id="grafico1" value="turnoMasSolicitado">Turno mas Solicitado</option>
            <option data-id="grafico1" value="turnosPorPeluqueroCant">Turnos por Peluquero (Cant)</option>
            <option data-id="grafico1" value="turnosPorPeluqueroIngreso">Turnos por Peluquero (Ingreso)</option>
            <option data-id="grafico1" value="totalesDeCaja">Totales de Caja</option>
      </select>
      </label>    
      <div  ng-show="muestra" ng-cloak>
            <div>
              <label class=banner-label-busqueda> Desde:</label>    
              <input class=input-banner type="date" ng-model="searchFrom"></input>
              <label class=banner-label-busqueda> Hasta:</label>    
              <input class=input-banner type="date" ng-model="searchTo"></input>              
              <label class=button-estadisticas ng-click="selectGrafico(grafico)"><i class=material-icons  >search</i> </label>
            </div>
      </div>


    </div>      
    
  <div class=graf-caja>  
    <canvas id="grafico1" class="chart chart-bar"></canvas>
  </div>
  
</div>
<#include "/html/common/javascript.html">
<#include "/html/common/confirm.html">
<script src="js/vendor/Chart-min.js"></script>
<script src="js/vendor/Chart.js"></script>
<script src="js/vendor/angular-chart.min.js"></script>
<script src="js/estadisticasController.js" ></script>
</body>
</html>