<!Doctype html>
<html>
<head> 
	<title>Stock</title>
  <#include "/html/common/head.html"> 
</head>
<body ng-app=figaro ng-controller=stockController ng-cloak >
  <#include "/html/common/menu.html">
  <div id=content class=content>
    <div class="banner">
        <label class="banner-label add"><i class=material-icons ng-click="newProducto()">playlist_add</i></label>
        <label class=banner-label ><i class=material-icons >search</i></label>
        <input class=input-banner type="text" placeholder="Buscar producto" ng-model="search" ng-keyup="searchProducto()">
    </div>
    
    <table id=table class=main-table>
      <thead>
        <tr>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>DISPONIBLES</th>
            <th>MINIMO</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class=data-row ng-repeat="producto in productos">
          <td id={{producto.nombre}} data-id={{producto.id}} data-ng-dblclick="detailProducto($event)">{{producto.nombre}}</td>
          <td id={{producto.descripcion}} data-id={{producto.id}} data-ng-dblclick="detailProducto($event)">{{producto.descripcion}}</td>
          <td class=numericotr data-id={{producto.id}}>
          <input id={{producto.id}} class="disponibletr" type="number" ng-model="producto.cantidad" ng-value="producto.cantidad" ng-model-options="{updateOn: 'blur'}"ng-change="updateCantidad(producto.id, producto.cantidad)"></td>
          <td class=numericotr data-id={{producto.id}} data-ng-click="detailProducto($event)">{{producto.cantidadMinima}}</td>
          <td data-id={{producto.id}} data-ng-click="deleteProducto($event)" class="tachotd"><lavel><i class="material-icons tachoi">clear</i></lavel></td>
        </tr>
      </tbody>
    </table>
    <br>
    <table id=table class=main-table>
      <thead>
        <tr>
              <th>NOMBRE</th>
              <th>DESCRIPCION</th>
              <th>PRECIO</th>
        </tr>
      </thead>
      <tbody>
        <tr class=data-row ng-repeat="producto in productos | filter: {productoVenta: true}">
          <td id={{producto.id}} data-id={{producto.id}}>{{producto.nombre}}</td>
          <td id={{producto.id}} data-id={{producto.id}}>{{producto.descripcion}}</td>
          <td id={{producto.id}} data-id={{producto.id}}>{{producto.precio | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <#include "stock-modal.html">
  <#include "/html/common/javascript.html">
  <script src="js/stockController.js" ></script>
</body>
</html>