body{
    background-color:  #F3F4F6;
    margin-left: 0px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px
}
.logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content {
    margin-left: 250px
}

.banner-label{
    float: left;
    text-align: right;
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 20px;    
    font-size: 13px;
}

.input-banner {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: 0;
    margin-top: 10px
}

.input-banner:focus {
    outline: none !important;
    border-bottom: 2px solid #292961
}

.input-banner, .input-banner:focus { 
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

.action{
    display: none
}

.action-td{
    background-color:  #F3F4F6
}


.card, .banner, .bannerBusqueda{
    margin-top: 30px;
    background-color: #FFF;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 5px
}

.banner{
    height: 45px;
    margin-bottom: 20px
}

.bannerBusqueda{
    width: 95%;
    margin-bottom: 20px
}

table, .banner{
    width: 95%
}

.main-table{
    text-align: left;
    background-color: white;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 5px
}


table>tbody>tr:nth-child(odd) {
    background-color: #F7F7F7
}

table tr{
    height: 30px
}

tr:hover td {
    background-color: #292961;
    color: white;
    cursor: pointer
}

td,th{
    padding-left: 8px
}

th {
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    top: 0;
    margin-right: 300px;
    background-color:  #292961;
    padding: 0;
    width: 200px;
    height: 100%;
    position: fixed; 
    overflow: auto;
    box-shadow: 0 4px 4px #333
}

li a {
    display: block;
    color: #d1d1f0;
    padding: 8px 16px;
    text-decoration: none
}

li a:hover {
    background-color: #6666c4;
    color: #FFFFFF;
    cursor: pointer
}

.table-remove{
    width: 5px;
}

.material-icons{
    margin-right: 8px;
    font-size: 18px;
    vertical-align: sub
}


.modal {
    display: none
}


.modal-on {
    display: block;
    position: fixed;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.modal-content {
    position: relative;
    margin: auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.form-message{
    font-size: 13px;
    color: red;
    margin-top: 20px;
    width: 100%
}
    
.form-field{
    font-size: 13px;
    margin-bottom: 17px
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px)
}

form label{
    display: inline-block;  
    clear: left;
    width: 95px
}

form input {
    font-family: 'Roboto', sans-serif;
    display: inline-block
}

form input:focus, form select:focus {
    outline: none !important;
    border-bottom: 2px solid #292961
}

form input, form input:focus { 
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

form .buttons{
    width: 100%;
    align-content: center;
    display: flex;
    margin-top: 30px;
}

form .button{
    cursor: pointer;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6)
}

form select{
    width: 191px;
    background: transparent;
    border-bottom-color: #EEE;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

form a:link {
    color: #292961;
    font-weight: 800;
    text-decoration: none;
}

form a:visited {
    color: #292961;
    text-decoration: none;
}


.time-input{
    width: 80px;
}

.resume{
    margin-top: 25px;
    margin-bottom: 25px;
    border-color: #EFEFEF
}

.accept{
    background-color: #292961;
    color: white
}

.cancel{
    background-color: white;
    color: black
}

.add, .remove{
    cursor: pointer
}


.card{
    display: inline-block;
    vertical-align: top;
    margin-right: 50px
}

.card-title{
    margin-bottom: 20px
}

.ciudades, .peluqueros, .categorias{
    width: 250px;
    padding: 20px
}

.trabajos{
    width: 450px;
    padding: 20px
}

.card label{
    width: auto;
}

.card input {
    font-size: 13px;
    margin-bottom: 20px;
}

.card button{
    display: none;
}

.card table>tbody>tr:nth-child(odd) {
    background-color: white;
}

.delete{
    text-align: right;
}

.card  tr:hover td {
    background-color: white;
    color:black;
    cursor: pointer
}

.trabajo-precio{
    text-align: center;
}

.red {
    color: red; 
}

.green {
    color: green;
}

div .bb {    
    align-content: center;
    display: flex;    
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-left: 20px;
    margin-right: auto;
    padding: 10px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    background-color: #292961;
    color: white;
    bottom: 8px;
    margin-top: 20px;

}

.tachoi {
    visibility: hidden;
}

.tachotd {    
    width: 5px;   
}

tr:hover i{
    visibility: visible;
}