<!Doctype html>
<html>
<head> 
  <title>CAJA</title>
  <#include "/common/head.html">   
</head>
<body ng-app=figaro ng-controller=movimientosController ng-cloak>
<#include "/common/menu.html">
<div id=content class=content>
  <div class=banner>
      <label class="banner-label add"><i class="material-icons" ng-click="newMovimiento()">add_circle_outline</i></label>   
      <label class=banner-label ><i class=material-icons>more_vert</i></label>      
      <label class=banner-label ng-click="ShowHideDia()"><i class=material-icons>search</i> D&Iacute;A </label>    
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
      <label class=banner-label ng-click="ShowHideEntreDia()"><i class=material-icons >search</i> SEMANA </label>
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
      <label class=banner-label ng-click="ShowHideMes()"><i class=material-icons >search</i> MES </label>
      <label class=banner-label ><i class=material-icons >more_vert</i></label>
 
  </div>

  
<div class=bannerBusqueda ng-hide = "IsHiddenDia">
  	<div class=banner>   		
  		<label class=banner-labelBusqueda ng-click="ShowHideDia()"><i class=material-icons >clear</i></label>
   		<label class=banner-labelBusqueda> B&Uacute;SQUEDA POR D&Iacute;A: </label>   	
      	<input class=banner-labelBusqueda type="date" ng-model="search" ng-change="searchMovimientoDia()"></input> 
    </div>
</div>

<div class=bannerBusqueda ng-hide = "IsHiddenEntreDia">
  	<div class=banner>   		
  		<label class=banner-labelBusqueda ng-click="ShowHideEntreDia()"><i class=material-icons >clear</i></label>
   		<label class=banner-labelBusqueda> BUSCAR SEMANA:</label>   	
      	<input class=banner-labelBusqueda type="week" ng-model="search" ng-change="searchMovimientoEntreDias()"></input>
    </div>
</div>

<div class=bannerBusqueda ng-hide = "IsHiddenMes">
	<div class=banner>   		
  		<label class=banner-labelBusqueda ng-click="ShowHideMes()"><i class=material-icons >clear</i></label>
   		<label class=banner-labelBusqueda> B&Uacute;SQUEDA POR MES: </label>   	
      	<input class=banner-labelBusqueda type="month" ng-model="search" ng-change="searchMovimientoMes()"></input>
    </div>  
</div>
  
  <table id=table class=main-table>

    <thead>
      <tr>      	  
          <th>FECHA</th>
          <th>CATEGORIA</th>
          <th>MONTO</th>
          <th>DETALLE</th>   
          <th></th>           
      </tr>
    </thead>
    <tbody>
      <tr id={{movimiento.id}} data-id={{movimiento.id}} class=data-row ng-repeat="movimiento in movimientos | orderBy : sortFecha : true"> 
         
        <td data-id={{movimiento.id}} data-ng-click="detailMovimiento($event)">{{movimiento.fecha | date }}</td>
        <td data-id={{movimiento.id}} data-ng-click="detailMovimiento($event)">{{movimiento.categoria}}</td>
	    <td data-id={{movimiento.id}} data-ng-click="detailMovimiento($event)"> <font ng-class='{green : !movimiento.isGasto, red: movimiento.isGasto}'>{{movimiento.precio | currency }}</font></td>
        <td data-id={{movimiento.id}} data-ng-click="detailMovimiento($event)">{{movimiento.detalle}}</td>   
        <td class="tachotd" id={{movimiento.id}} data-id={{movimiento.id}} data-ng-click="deleteMovimiento($event)"><label><i class="material-icons tachoi" >clear</i></label></td>                
      </tr>      
    </tbody>
  </table>
  <div class=banner>
      <label class=banner-label ><i class=material-icons >account_balance_wallet</i> Total: <font ng-class='{green : calculaTotal() >= 0, red: calculaTotal() < 0}'>{{ calculaTotal() | currency }}</font></label>
  </div>
</div>
<#include "/modals/caja.html">
<#include "/common/javascript.html">
<script src="js/movimientosController.js" ></script>
</body>
</html>