<!Doctype html>
<html>
<head> 
  <title>TURNOS</title>
  <#include "/common/head.html">
</head>
<body ng-app=figaro ng-controller=turnosController ng-cloak>
  <#include "/common/menu.html">
  <div id=content class=content>
    <div class=banner>
        <label class="banner-label add" ><i class=material-icons ng-click="newTurno()" >addtoday</i></label>
        <input class=input-banner type=date ng-model=ngDateTurno ng-change="getTurnos()">
    </div>
    <table id=table class=main-table>
        <thead>
          <tr>
              <th>HORARIO</th>
              <th>CLIENTE</th>
              <th>TRABAJOS</th>
              <th>PRECIO</th>
              <th>PELUQUERO</th>
              <th>REALIZADO</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
        <tr  class=data-row ng-repeat="turno in turnos  track by turno.id"  >
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.desde.split(' ')[1]}} - {{turno.hasta.split(' ')[1]}}</td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.cliente.nombre}} {{turno.cliente.apellido}}</td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)"><span ng-repeat="trabajo in turno.trabajos"> {{trabajo.descripcion}} </span></td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{getTotalTurno(turno.trabajos) | currency}}</td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.peluquero}}</td>
          <td><input ng-checked="turno.cobrado" ng-click="setCobrado(turno.id)" type="checkbox"></td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="deleteTurno($event)" class="table-remove" ><i class=material-icons ng-click="newClient()" >remove</i></td>
        </tr>
        </tbody>
      </table>
      <div class=banner>
          <label class=banner-label >{{getTotalDiario(turnos) | currency}}</label>
      </div>
  </div>
  <#include "/modals/turnos.html">
  <div ng-controller=clientesController >
  <#include "/modals/clientes.html">   
  </div>
  <#include "/common/javascript.html">
  <script src="js/turnosController.js" ></script>
  <script src="js/clientesController.js" ></script>
</body>
</html>