<!Doctype html>
<html>
<head> 
  <title>TURNOS</title>
  <#include "/common/head.html">
</head>
<body ng-app=figaro ng-controller=turnosController ng-cloak>
  <#include "/common/menu.html">
  <div id=content class=content>
    <div class=banner>
        <label class="banner-label add" ><i class=material-icons ng-click="newTurno()" >addtoday</i></label>
        <input class=input-banner type=date ng-model=ngDateTurno ng-change="getTurnos()">
    </div>
    <table id=table class=main-table>
        <thead>
          <tr>
              <th>HORARIO</th>
              <th>CLIENTE</th>
              <th>TRABAJOS</th>
              <th>PRECIO</th>
              <th>PELUQUERO</th>
              <th>REALIZADO</th>
          </tr>
        </thead>
        <tbody>
        <tr  class=data-row ng-repeat="turno in turnos  track by turno.id"  >
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.desde.split(' ')[1]}} - {{turno.hasta.split(' ')[1]}}</td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.cliente.nombre}} {{turno.cliente.apellido}}</td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)"><span ng-repeat="trabajo in turno.trabajos"> {{trabajo.descripcion}} </span></td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{getTotalTurno(turno.trabajos) | currency}}</td>
          <td id={{turno.id}} data-id={{turno.id}} data-ng-click="detailTurno($event)">{{turno.peluquero}}</td>
          <td><input ng-checked="turno.cobrado" ng-click="setCobrado(turno.id)" type="checkbox"></td>
        </tr>
        </tbody>
      </table>
      <div class=banner>
          <label class=banner-label >{{getTotalDiario(turnos) | currency}}</label>
      </div>
  </div>
  <div id=modal class=modal>
    <div class=modal-content>
      <form ng-submit="sendTurno()">      
        <div class=form-field><label>CLIENTE:</label>
          <input id=focus tipe="text" placeholder="Buscar..." ng-model="queryCliente" ng-keyup="searchCliente()">
        </div>
        <div class="form-field add" ng-click="setCliente(cliente)" ng-repeat="cliente in clientes" >
          <i class="material-icons add"  ng-value=cliente >add</i>{{cliente.nombre}} {{cliente.apellido}}
        </div>
        <div class=form-field><label>FECHA: </label><input type="date" ng-model="ngDateTurno" required></input></div>
        <div class=form-field><label>DESDE:</label>
          <select  class=time-input ng-model="startHour" ng-options="item for item in horarios" required>
            <option value=""></option>
          </select>
        </div>
        <div class=form-field><label>HASTA:</label>
          <select class=time-input ng-model="endHour" ng-options="item for item in horarios" required>
            <option value=""></option>
          </select>
        </div> 
        <div class=form-field><label>PELUQUERO:</label>
          <select name=peluquero  ng-model="peluquero" ng-options="peluquero.nombre as peluquero.nombre for peluquero in peluqueros" required>
            <option value=""></option>
          </select>
        </div>
        <div class=form-field><label>TRABAJOS</label>
          <input id=focus tipe="text" placeholder="Buscar..." ng-model="queryTrabajo" ng-keyup="searchTrabajo()">
        </div>
        <div class="form-field add" ng-click="addTrabajo(trabajo)" ng-repeat="trabajo in trabajos" >
          <i class="material-icons add"  ng-value=trabajo >add</i>{{trabajo.descripcion}} {{trabajo.precio | currency}}
        </div>
        <hr class=resume>
        <div class="form-field remove" ng-click="removeTrabajo(trabajo)"  ng-repeat="trabajo in trabajosSeleccionados" >
          <i class="material-icons "  ng-value=trabajo >remove</i>{{trabajo.descripcion}} {{trabajo.precio | currency}}
        </div>
        <div class="form-field">TOTAL: {{totalTrabajosSeleccionados | currency}}</div>
        <div class="form-field"><span>CLIENTE: </span>{{ngTurno.cliente.nombre}} {{ngTurno.cliente.apellido}}</div>
        <div class=buttons>
          <button class="button cancel" type="button" ng-click="discardTurno()">CANCELAR</button>
          <button class="button accept" type="submit">ACEPTAR</button>
        </div>
        <label class=form-message>{{message}}</label>
      </form>
    </div>
  </div>
  <#include "/common/javascript.html">
  <script src="js/turnosController.js" ></script>
</body>
</html>

